html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul{
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
dd{
  margin: 0;
}
body {
  background-color: #fff;
  font-family: "Rubik", "Arial", sans-serif;
}
.container {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* SITE HEADER */
.headerr {
  background: #F6F6F9;
}
.logo-others {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.telegram-text {
  display: flex;
  align-items: center;
}
.valyutalar {
  display: flex;
  width: 295px;
  justify-content: space-between;
}
.button-slt {
  font-family: 'Roboto', "Arial", sans-serif;
  width: 285px;
  display: flex;
  justify-content: space-between;
}

.language-button {
  background-color: #fff;
  border: transparent;
  border-radius: 5px;
  margin-left: 46px;
}
.language-button::before{
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("../img/ru.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-right:5px;
}



.poisk-button {
  background-color: #fff;
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  margin-right: -50px;
}

.poisk-button::before{
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("../img/poisk.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 20px;
  background-color: #fff;
  border: transparent;
  border-radius: 3px;
  background-position-y: 0px;
}


.logo-n24 {}

.valyutalar span {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #285193;
}
.valyutalar li {
  font-size: 16px;
  line-height: 19px;
  list-style: none;
  color: #7A7A7A;
}
.language-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #535353;

}

.telegram-text {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  justify-content: center;

  color: #FFFFFF;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  padding: 11px 12px 8px 15px;

}

.telegram-text::before{
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("../img/cib_telegram.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-right:5px;
  background-color: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
}





.nav-head {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  width: 1200px;
  height: 68px;
  left: 119px;
  justify-content: space-around;
  align-items: center;

}

.nav-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 21px 24px 21px 24px ;
  margin: 0;
}

.nav-item li {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  list-style: none;
  color: #515151;
  margin-right: 25px;
}
.nav-item li:nth-child(10){
  margin-right: 0px;
}

.nav-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
}
.main-glava-hidden{
  display: none;
}
.section-hidden{
  display: none;
}
/* COVID STATISTIKA */
.main-glava-hidden {}
.covid-statistika {
  display: flex;
  justify-content: space-around;
}
.covid-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-left: 20px;
  margin-left: 50px;
}

.covid-text::before{
  flex-shrink: 0;
  width: 43px;
  height: 45px;
  content: "";
  background-image: url("../img/virus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 20px;
  margin-right:10px;

}


.corona-article {
  background: #F6F6F9;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.covid-statistika {
  width: 700px;
  /* justify-content: space-between; */
  padding:41px 41px 41px 22px
}
.covid-statistika div{
  margin-left: 20px;
  padding-right: 15px;
}
.covid-features{
  display:flex ;
}



.virus-text img{
margin-left: 35px;
}
.virus-text {
  width: 400px;
  display: flex;
  align-items: center;
  border-right: 3px solid rgb(224, 0, 0);
}
.one-two{
  border-right: 3px solid #F4CCD1;
}
.kasallangan {
  font-size: 18px;
  line-height: 21px;
  color: #DB0000;
}

.kasallangan::before{
  flex-shrink: 0;
  width: 38px;
  height: 40px;
  content: "";
  background-image: url("../img/maska.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 20px;
  margin-right:10px;

}



.kasal-raqam {
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
color: #000000;
}
.tuzalgan {
  font-size: 18px;
  line-height: 21px;
  color: #05B135;
}


.tuzalgan::before{
  flex-shrink: 0;
  width: 38px;
  height: 40px;
  content: "";
  background-image: url("../img/cil_smile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 20px;
  margin-right:10px;

}

.olgan::before{
  flex-shrink: 0;
  width: 38px;
  height: 40px;
  content: "";
  background-image: url("../img/Vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 20px;
  margin-right:10px;

}

.tuzalgan-raqam {
  font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
color: #000000;
}
.olgan {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.olgan-raqam {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
/* BREAKING NEWS */
.section-hidden {}
.breakin-news-head li {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  width: 386px;
  list-style: none;
  color: #202020;
  margin-left: 15px;
  margin-bottom: 15px;
}
.breaking-news-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -15px;
}
.breaking-news-text a {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}
.breaking-news-text a time {
  font-size: 14px;
  line-height: 17px;
  color: #6B6D97;
}
.article-join {
  background: rgba(239, 186, 84, 0.18);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding-right: 20px;
}
.article-join div {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.article-bell {

}


.uvidomleniya::before{
  flex-shrink: 0;
  width: 31px;
  height: 35px;
  content: "";
  background-image: url("../img/bell-icon@2x.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 40px;
  margin-right:10px;

}



.uvidomleniya {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-left: 18px;
}
.article-join a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.all-last-popular-news {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
/* LAST NEWS */
.last-news-head {
  width: 780px;
}
 .last-news-text{
margin-top: 0;
 }
 .last-news-side{
   align-items: center;
   margin-left: 20px;
   padding-bottom: 15px
 }
 .last-news-side h3{
   padding-bottom: 0px;
   font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;
color: #202020;
 }
 .last-news-side div{
   display: flex;
  align-items: center;
margin-top: 15px;
   }
   .last-news-text li{
     margin-bottom: 10px;
   }
.last-news-img {
  width: 252px;
  height: 143px;
}
.last-news-text li {
  display: flex;
  align-items: center;
list-style: none;
}
.last-news-text a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}
.last-news-text p {
  font-size: 15px;
  line-height: 18px;
  color: #434343;
  margin-top: 0;
  margin-bottom: 5px;
}
.last-news-text time {
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
}


.last-news-side time::before{
  flex-shrink: 0;
  width: 18px;
  height: 20px;
  content: "";
  background-image: url("../img/ic_outline-date-range.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 20px;
}

.last-news-text a img {
  background: url(image.png);
  border-radius: 5px;
  width: 252px;
  height: 143px;
}
.last-news-text p img {
  width: 18px;
  height: 20px;
  left: 389px;
  top: 2031px;
}
.last-news-text h3,
.last-news-text p {
  width: 512px;
}
.last-news-text h3{
  margin-top: 0;
  margin-bottom: 10px;
}
.more-news {
  background: #295093;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  align-items: center;
  margin:0 auto;
  display: block ;
padding: 10px 30px;
}
.popular-news-banner {
  width: 386px;
}
.most-popular-news-head {
  background: #F6F6F9;
  border-radius: 5px;
padding: 15px 20px;
margin-bottom: 20px;
}
.most-popular-news-head h2{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  color: #202020;
}
.most-popular-news-text li {
  list-style: none;
}
.most-popular-news-text a {
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #202020;
}
.most-popular-news-text h3 {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}
.most-popular-news-head a {
  color: #202020;
  list-style: none;
  text-decoration: none;
}
.most-popular-news-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
}
.ucel-banner img {
  background: url(image.png);
  border-radius: 5px;
}
.article-app {
  background: #F6F6F9;
  border-radius: 5px;
  display: flex;
  align-items: center;
margin-top: 45px;
margin-bottom: 45px;
}

.article-app::before{
  flex-shrink: 0;
  width: 236px;
  height: 177px;
  content: "";
  background-image: url("../img/telefon.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 40px;
  margin-right:10px;

}


/* .googleplay-icon:{
  display: block;
  flex-shrink: 0;
  width: 163px;
  height: 50px;
  content: "";
  background-image: url("../img/googleplay1.png.png");
  background-size: contain;
  background-repeat: no-repeat;
} */






.article-app h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #295093;
}
.article-app p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.article-app a {
  width: 162.71px;
  height: 50px;
}
  margin-left: 20px;
  }
  .appstore-icon{
    margin-right: 20px;
  }

.app-vkl {
background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
border-radius: 5px;
padding: 20px 15px;
}
.footer-all {
  background: #295093;
}
.footer-all div {}
.footer-all h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.telegram-kanal {
  display: flex;
  align-items: center;
  width: 800px;
}

.telegram-kanal h2{
padding-left:0px;
}

.logo-and-telegram {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;

}

.telegram-kanal a {
  list-style: none;
  text-decoration: none;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #295093;
  padding: 10px 11px 9px 15px;
  border-radius: 5px;
}

.tg-podpis {
  display: flex;
  align-items: center;
}

.tg-podpis::before{
  flex-shrink: 0;
  width: 18px;
  height: 20px;
  content: "";
  background-image: url("../img/cib_telegram_blue.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 0px;
  margin-right:10px;

}



.logo-white {
  background: #133C82;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.hr-footer {
  background: #133C82;
}
.osayte-head {
  width: 365px;
}
.osayte-head h3 {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.osayte-head p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer-nav-first {
  width: 170px;
}
.footer-nav-first a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-nav-second {
  width: 230px;
}
.footer-nav ul{
  margin-right: 100px;
}

.footer-nav-second a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-nav li {
  list-style: none;

  margin-bottom: 10px;
}

.footer-information {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-nav {
  display: flex;
}