body {
  font-family: 'Rubik', 'Verdana', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.nav-bar a,
.navbar ul {
  display: flex;
  text-decoration: none;
  width: 1151px;
  height: 25px;
  left: 143px;
  top: 145px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;

  color: #515151;
}
.navbar li {
  text-decoration: none;
}

.telegram-link {
  border-radius: 5px;
  text-decoration: none;
  background-color: #1E96C8;
  height: 50px;
  width: 146px;
}

.covid-info {
  display: flex;
}

.breaking-news {
  display: flex;
}

.breaking-newul {
display: flex;
  display: flex;
}